reset/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



/*   */

body {
    display: grid;
    place-items: center;
    color: #062D3E;
    background-image: linear-gradient(to top, #d3a0bd, #cca3c7, #c4a7d0, 
                                              #baabd7, #aeafdd, #a6b8e4, 
                                              #9fc0ea, #99c8ed, #9ad6f3, 
                                              #9fe3f6, #a9eff7, #b8fbf7);
}

h1 {
    font-size: 50px;
    margin-top: 50px;
    font-weight: 600;
    position: relative;
    z-index: 1;

}

h3 {
    font-weight: 600;
    margin-bottom: 20px;
}

.quizBox {
    margin: 50px;
    border-radius: 10px;
    background: #eaf8ff;
    box-shadow: 0px 30px 100px rgba(6, 45, 62, 0.5);
}

.questionBox {
    margin: 20px;
}

.border {
    border: 1px solid #062D3E;
    border-radius: 40px;
}

.questions {
    margin-bottom: 5px;
    padding-left: 10px;
}

.rightBox {
    margin: 2px;
    display: block;
    width: 400px;
    border-radius: 40px;
    padding: 10px;
    cursor: pointer;
}

.answers {
    padding-left: 10px;
}

.right {
    background-color: #00DD73;
    color: #fff;
    animation: correct 0.2s 1;
}

@keyframes correct {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.wrong {
    padding: 10px;
    border-radius: 40px;
    background-color: #f92D45;
    color: #fff;
    margin: 2px;
    display: block;
    cursor: pointer;
    animation: wrong 0.1s 3;
}

@keyframes wrong {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(6deg);
    }
}

.box {
    padding: 10px;
    cursor: pointer;
    margin: 2px;
    display: block;
    width: 400px;
}

input[type='radio'] {
    display: none;
}

label, input {
    cursor: pointer;
}